<section class="direction">
  <div class="container direction__container">
    <h2 class="direction__title title-text">Направления:</h2>

    <ul class="direction__list list-reset">
      <li class="direction__list-item">

        <a class="direction__item" href="#">
          <h3 class="direction__item-title title-text">Аренда мебели
            <svg class="direction__item-icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </h3>
          <picture>
            <source srcset="img/direction__item-image-1.webp" type="image/webp">
            <img loading="lazy" src="img/direction__item-image-1.jpg" class="direction__item-image" width="1040" height="248" alt="">
          </picture>
        </a>

      </li>

      <li class="direction__list-item">

        <a class="direction__item" href="weddings.html">
          <h3 class="direction__item-title title-text">Свадьбы
            <svg class="direction__item-icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </h3>
          <picture>
            <source srcset="img/direction__item-image-2.webp" type="image/webp">
            <img loading="lazy" src="img/direction__item-image-2.jpg" class="direction__item-image" width="1040" height="248" alt="">
          </picture>
        </a>

      </li>

      <li class="direction__list-item">

        <a class="direction__item" href="#">
          <h3 class="direction__item-title title-text">Ивенты
            <svg class="direction__item-icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </h3>
          <picture>
            <source srcset="img/direction__item-image-3.webp" type="image/webp">
            <img loading="lazy" src="img/direction__item-image-3.jpg" class="direction__item-image" width="1040" height="248" alt="">
          </picture>
        </a>

      </li>

      <li class="direction__list-item">

        <a class="direction__item" href="#">
          <h3 class="direction__item-title title-text">Организация мероприятий под ключ
            <svg class="direction__item-icon" width="24" height="24">
              <use xlink:href="img/sprite.svg#button-arrow"></use>
            </svg>
          </h3>
          <picture>
            <source srcset="img/direction__item-image-4.webp" type="image/webp">
            <img loading="lazy" src="img/direction__item-image-4.jpg" class="direction__item-image" width="1040" height="248" alt="">
          </picture>
        </a>

      </li>

    </ul>

  </div>

</section>
