<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title-text title-text">
      стиль мероприятия, о котором говорит весь город
    </h2>
    <div class="gallery__picture-block">
      <picture class="gallery__picture1">
        <source srcset="img/gallery-pic1.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic1.png" class="gallery__picture" width="512" height="1040" alt="">
      </picture>

      <picture class="gallery__picture2">
        <source srcset="img/gallery-pic2.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic2.png" class="gallery__picture" width="512" height="424" alt="">
      </picture>

      <picture class="gallery__picture3">
        <source srcset="img/gallery-pic3.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic3.png" class="gallery__picture" width="512" height="1040" alt="">
      </picture>

      <picture class="gallery__picture4">
        <source srcset="img/gallery-pic4.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic4.png" class="gallery__picture" width="512" height="776" alt="">
      </picture>

      <picture class="gallery__picture5">
        <source srcset="img/gallery-pic5.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic5.png" class="gallery__picture" width="512" height="512" alt="">
      </picture>

      <picture class="gallery__picture6">
        <source srcset="img/gallery-pic6.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic6.png" class="gallery__picture" width="512" height="336" alt="">
      </picture>

      <picture class="gallery__picture6--cut">
        <source srcset="img/gallery-pic6.1.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic6.1.png" class="gallery__picture" width="336" height="472" alt="">
      </picture>

      <picture class="gallery__picture7">
        <source srcset="img/gallery-pic7.webp" type="image/webp">
        <img loading="lazy" src="img/gallery-pic7.png" class="gallery__picture" width="512" height="336" alt="">
      </picture>
    </div>
  </div>
</section>
