<section class="good-org">
  <div class="container good-org__container">
    <h2 class="good-org__title-text title-text">
      Хороший организатор
      знает все тонкости. И делает так, что бы
       на свадьбе все работало как часы.
    </h2>
    <div class="good-org__content">

      <div class="good-org__picture-container">
        <picture>
          <source srcset="img/good-org-pic.webp" type="image/webp">
          <img loading="lazy" src="img/good-org-pic.png" class="good-org__pic" width="776" height="1024" alt="Катерина сидит">
        </picture>
      </div>
      <div class="good-org__text-block">
        <p class="good-org__text small-text">
          Все специалисты приехали во время.
        </p>
        <p class="good-org__text small-text">
          Что бы ничего не отвлекало их от прямых обязанностей.
        </p>
        <p class="good-org__text small-text">
          Все было в своё время и на своих местах.
        </p>
        <p class="good-org__text small-text">
          Если возникнет форс-мажор. А он обязательно будет. Ни одно мероприятие без этого не обходится. Профессионал решит его быстро и не заметно.
        </p>
        <p class="good-org__text small-text">
          Что бы все гости были окружены вниманием и заботой.
        </p>
        <p class="good-org__text good-org__text--margin small-text">
          А вы на своей свадьбе отдыхали.
        </p>
      </div>
    </div>
  </div>
</section>
