<header class="header">
  <div class="header__container container">
    <a class="header__logo logo" href="/">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="248" height="33" alt="Fedorenko Decor - логотип компании">
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link main-link">Каталог мебели</a></li>
        <li class="nav__item"><a href="weddings.html" class="nav__link main-link">Свадьбы</a></li>
        <li class="nav__item"><a href="#" class="nav__link main-link">Ивенты</a></li>
        <li class="nav__item"><a href="#" class="nav__link main-link">контакты</a></li>
      </ul>
    </nav>
    <button class="header__burger burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
      <div class="burger__text">Меню</div>
    </button>
    <a class="header__cart cart-widget" href="/cart/">
      <div class="cart-widget__count">234</div>
      <svg class="cart-widget__icon" width="24" height="24">
        <use xlink:href="img/sprite.svg#basket"></use>
      </svg>
    </a>
  </div>
</header>
<div class="burger-menu" data-menu>
  <nav class="burger-menu__nav">
    <ul class="burger-menu__nav-list list-reset">
      <div class="burger-menu__nav-list--mobile">
        <li class="burger-menu__nav-item"><a class="burger-menu__nav-link main-link" href="#">Каталог мебели</a></li>
        <li class="burger-menu__nav-item"><a class="burger-menu__nav-link main-link" href="#">Свадьбы</a></li>
        <li class="burger-menu__nav-item"><a class="burger-menu__nav-link main-link" href="#">Ивенты</a></li>
      </div>
      <li class="burger-menu__nav-item burger-menu__nav-item--with-image"><a class="burger-menu__nav-link main-link" href="#">О нас</a></li>
      <li class="burger-menu__nav-item"><a class="burger-menu__nav-link main-link" href="#">Условия работы / Аренды</a></li>
      <li class="burger-menu__nav-item"><a class="burger-menu__nav-link main-link" href="#">Организация мероприятий</a></li>
      <li class="burger-menu__nav-item"><a class="burger-menu__nav-link main-link" href="#">Контакты</a></li>
    </ul>
  </nav>
  <a href="/" class="burger-menu__button button button--no-fill btn-reset">
    <span class="button__text">Оставить заявку</span>
    <svg class="button__arrow" width="24" height="24">
      <use xlink:href="img/sprite.svg#button-arrow"></use>
    </svg>
  </a>
  <div class="burger-menu__footer">
    <a class="burger-menu__footer-link link-underline" href="/">Telegram</a>
    <a class="burger-menu__footer-link link-underline" href="/">WhatsApp</a>
    <a class="burger-menu__footer-link link-underline" href="tel:+7(963)163-27-03">+7(963)163-27-03</a>
  </div>
</div>
