<section class="hero">
  <div class="container hero__container">
    <div class="hero__flex-container">
      <h1 class="visually-hidden">Fedorenko Decor - организация мероприятий, свадеб и торжест под ключ в городе Сочи и Сочинском районе</h1>
      <div class="hero__title title-text">
        Создаём уникальную атмосферу для самых значимых событий
      </div>
      <div class="hero__small-text small-text">
        полное погружение в другую реальность.
        Мы воплощаем в жизнь любые решения, делая мероприятие самым запоминаемым событием города.
      </div>
    </div>
    <div class="hero__picture-block">
      <div class="hero__picture-button">
        <a href="#" class="hero__button button btn-reset">
          <span class="button__text">каталог<br>мебели</span>
          <svg class="button__arrow" width="24" height="24">
            <use xlink:href="img/sprite.svg#button-arrow"></use>
          </svg>
        </a>
        <picture>
          <source srcset="img/hero.webp" type="image/webp">
          <img loading="lazy" src="img/hero.png" class="hero__picture" width="1570" height="865" alt="Красивый стол с розами">
        </picture>
      </div>
    </div>
  </div>
</section>
