<section class="onemore">
  <div class="container onemore__container">
    <div class="onemore__picture-container">
      <picture>
        <source srcset="img/onemore-pic1.webp" type="image/webp">
        <img loading="lazy" src="img/onemore-pic1.jpg" class="onemore__pic1" width="424" height="688" alt="Катерина сидит">
      </picture>
      <picture>
        <source srcset="img/onemore-pic2.webp" type="image/webp">
        <img loading="lazy" src="img/condition-pic2.jpg" class="onemore__pic2" width="336" height="668" alt="Катерина сидит">
      </picture>
    </div>
    <div class="onemore__text-block">
      <h2 class="onemore__title-text title-text">
        Давайте еще раз познакомимся.
      </h2>
      <p class="onemore__text small-text">
        Меня зовут Федоренко Екатерина. В ивент бизнесе я больше 13 лет.
      </p>
      <p class="onemore__text small-text">
        И я знаю как сделать Ваш праздник незабываемым.
      </p>
      <p class="onemore__text onemore__text--margin small-text">
        Вот немного ответов на вопросы что бы Вам было легче понять зачем Вам организатор и чем он занимается.
      </p>
    </div>
  </div>
</section>
