<section class="review">
  <div class="review__container container">
    <h2 class="review__title title-text">Что говорят клиенты</h2>
  </div>
  <div class="review__slider-outer">
    <div class="swiper review__slider">
      <div class="swiper-wrapper review__slider-wrapper">
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“ Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
         <div class="swiper-slide review__slider-slide">
            <div class="review__item">
              <div class="review__item-image-wrapper">
                <img loading="lazy" src="img/review/review-svg.svg" class="review__item-image" width="72" height="72" alt="Логтип компании">
              </div>
              <div class="review__item-names">Татьяна и Анатолий Казловы</div>
              <h3 class="review__item-company">“Рога и копыта” / Свадьба</h3>
              <p class="review__item-descr">“Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть  азумом и должны быть азумом и должны. сенцию победы маркетинга над разумом и должны быть  азумом и должны.</p>
            </div>
         </div>
      </div>
    </div>
  </div>
  <div class="review__controls">
    <div class="swiper-button-prev review__nav-button">
      <svg class="review__nav-button-icon" width="13" height="8">
        <use xlink:href="img/sprite.svg#arrow-swiper-prev"></use>
      </svg>
    </div>
    <div class="swiper-pagination review__pagination"></div>
    <div class="swiper-button-next review__nav-button">
      <svg class="review__nav-button-icon" width="13" height="8">
        <use xlink:href="img/sprite.svg#arrow-swiper-next"></use>
      </svg>
    </div>
  </div>
</section>
