<section class="why-org">
  <div class="container why-org__container">
    <h2 class="why-org__title-text title-text">
      ЗАЧЕМ МНЕ ОРГАНИЗАТОР!
      ЧЕМ ОН ВООБЩЕ ЗАНИМАЕТСЯ?
    </h2>
    <div class="why-org__content">
      <div class="why-org__text-block">
        <p class="why-org__text small-text">
          Самое распространённое заблуждение
           это - Зачем мне организатор, я всех могу найти сама.
        </p>
        <p class="why-org__text small-text">
          Так вот! Организатор это не тот кто даст Вам контакт
           хорошего специалиста.
        </p>
        <p class="why-org__text small-text">
          Организатор делает так что бы на вашей свадьбе этот специалист
           был хорош.
        </p>
        <p class="why-org__text small-text">
          Так часто бывает что фото в Инстаграмм хорошее. Специалист
           красиво рассказывает о себе. Ресторан вроде проверенный.
           А на деле все это оказывается обманом. Вы и представить не
            можете сколько задач приходится решать в процессе подготовки
             к свадьбе. А в этом ещё нужно разбираться и знать на что обратить
              внимание и где подстраховаться.
        </p>
      </div>
      <div class="why-org__picture-container">
        <picture>
          <source srcset="img/why-org-pic1.webp" type="image/webp">
          <img loading="lazy" src="img/why-org-pic1.jpg" class="why-org__pic1" width="336" height="688" alt="Катерина сидит">
        </picture>
        <picture>
          <source srcset="img/why-org-pic2.webp" type="image/webp">
          <img loading="lazy" src="img/condition-pic2.jpg" class="why-org__pic2" width="424" height="668" alt="Катерина сидит">
        </picture>
      </div>
    </div>
  </div>
</section>
