@import "../scss/mixins";

:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-black: #000;
  --color-gray: #333;
  --color-pearl: #f8f8f8;
  --color-celery-mousse: #cafc92;
  --color-purple-illusion: #b6b7f2;
  --color-smoke-screen: #afafaf;
  --color-trolley-grey: #828282;
  --color-poppy-red: #dc2f3a;
  --color-kettleman: #616161;

  // transition
  --transition-default: 0.3s ease-in;
}

// Colors
// ---------------------------------

// Default

$color-default-black: #000;
$color-default-white: #fff;
$color-transparent: rgb(255 255 255 / 0%);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-nero: #272727;
$color-grey: #828282;
$color-very-light-grey: #cacaca;
$color-red: #f00;
$color-navy-blue: #0453f1;
$color-navy-blue-opacity: rgb(4 83	241 / 60%);

// Gradient

$black-to-right: linear-gradient(90deg, rgb(0 0 0 / 75%) 0%, rgb(0 0 0 / 0%) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-circe: "Circe", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;
$trans-button: 0.15s ease-out;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-425: 425px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
