.collections {
  padding-top: 100px;
  padding-bottom: 120px;

  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    &::before {
      content: "";
      position: absolute;
      left: -10%;
      top: -7%;
      z-index: 1;
      width: 302px;
      height: 250px;
      background-image: url("data:image/svg+xml,%3Csvg width='205' height='213' viewBox='0 0 205 213' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M202.747 121.293C205.58 114.823 196.262 12.6527 191.392 1.62332C190.066 -1.37911 184.698 14.9817 184.621 15.4535C179.994 43.7814 180.165 72.6048 174.367 100.902C173.961 102.883 166.744 124.437 165.477 122.558C157.697 111.017 152.479 92.3063 147.289 79.4478C140.541 62.7304 110.001 -19.5718 105.942 40.6999C105.37 49.1909 119.206 134.801 116.573 136.577C111.056 140.296 81.3216 106.649 58.1474 94.9818C33.4527 82.5491 69.3556 132.029 73.4001 140.512C81.2168 156.907 39.1941 122.011 37.6026 120.966C10.1449 102.936 -11.9269 165.105 -31.901 211.503' stroke='%23FFCAEA' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;

      @include small-tablet {
        width: 200px;
        height: 160px;
      }

      @include mobile {
        display: none;
      }
    }

    @include mobile {
      grid-template-columns: none;
      gap: 40px;
    }
  }
}
