.catalog {
  &__content {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 250px auto;
    gap: 50px;

    @include small-tablet {
      grid-template-columns: auto;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    margin-bottom: 120px;
    gap: 50px 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .choices {
      margin-bottom: 0;

      .choices__item {
        font-size: 14px;
        line-height: 120%;
        color: #000;
      }
    }

    .choices__inner .choices__item--selectable {
      margin-right: 70px;
    }

    .choices__inner {
      display: flex;
      align-items: center;
      border: none;
      border-radius: 6px;
      padding: 9px;

      .choices__list--single {
        padding: 0;
      }
    }

    .choices__list--dropdown {
      border: none;
      border-radius: 6px;
    }

    .choices__list--dropdown .choices__item {
      padding: 9px;
    }

    .choices__list--dropdown .choices__item::after {
      display: none;
    }
  }

  &__filter-button {
    display: none;
    align-items: center;
    margin-right: 14px;
    border-radius: 6px;
    padding: 10px;
    background-color: #f8f8f8;

    svg {
      margin-right: 8px;
      font-size: 12px;
      line-height: 120%;
      fill: #333;
      stroke: #333;
    }

    @include small-tablet {
      display: flex;
    }
  }
}

.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 -15px;
  margin-bottom: 120px;
  padding: 0;
  gap: 30px;

  a,
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    height: 34px;
    min-width: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #000;
  }

  li {
    margin: 0 15px;
  }

  .page-numbers.current {
    background-color: #f8f8f8;
  }
}
