.filters {
  border-radius: 6px;
  background-color: var(--color-pearl);

  &__mobile-close {
    display: none;

    @include small-tablet {
      position: absolute;
      right: 5%;
      top: 6%;
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    display: none;

    @include small-tablet {
      display: block;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      color: #000;
    }
  }

  &__wrapper {
    padding: 20px;

    @include small-tablet {
      margin-bottom: 30px;
      border-radius: 6px;
      background-color: var(--color-pearl);
    }
  }

  &__accept-button {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    background-color: var(--color-celery-mousse);

    &:hover {
      background-color: var(--color-celery-mousse);
    }

    @include small-tablet {
      display: flex;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;
      border-radius: 100px;
      width: 32px;
      height: 20px;
      background-color: #bdbdbd;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 3px;
        top: 50%;
        border-radius: 100px;
        width: 14px;
        height: 14px;
        background-color: var(--color-light);
        transform: translateY(-50%);
        transition: all 0.2s ease;
      }

      &:checked {
        background-color: var(--color-celery-mousse);

        &::after {
          left: 15px;
        }
      }
    }

    label {
      margin-right: 10px;
      font-weight: 500;
      font-size: 16px;
      color: var(--color-black);
      cursor: pointer;
    }
  }

  @include small-tablet {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    padding: 60px 15px 30px;
    background: #fff;
    transform: translateX(-100%);

    &--active {
      overflow: auto;
      transform: translate(0);
    }
  }
}

.filter-group {
  margin-bottom: 32px;

  &__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-black);
  }

  &__checkbox.hidden {
    display: none;
  }
}
