.gross-form {
  margin-bottom: 120px;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 6px;
    padding-top: 45px;
    padding-bottom: 90px;
    background-color: #f8f8f8;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 270px;
      height: 240px;
      background-image: url("data:image/svg+xml,%3Csvg width='266' height='244' viewBox='0 0 266 244' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-177.192 -54.3366C-181.767 -53.7642 -194.187 -27.5389 -193.199 -30.3966C-190.719 -37.5695 -187.568 -44.2344 -185.485 -51.6337C-184.725 -54.3314 -179.12 -81.7967 -181.628 -66.0171C-183.726 -52.8166 -188.185 -40.1885 -189.92 -26.9215C-190.046 -25.9595 -193.19 -3.43379 -187.606 -12.2485C-179.911 -24.3973 -173.366 -37.3362 -166.007 -49.7031C-154.707 -68.6922 -167.197 -36.449 -169.189 -31.7481C-181.626 -2.39915 -230.335 79.3228 -210.17 54.6483C-181.924 20.0874 -157.671 -22.5888 -141.129 -63.9899C-136.91 -74.5504 -143.719 -41.253 -147.108 -30.3966C-156.798 0.646891 -171.16 29.928 -181.146 60.8264C-192.913 97.2377 -146.827 -7.61593 -131.68 -42.7528C-124.08 -60.3804 -126.791 -46.3802 -128.594 -36.5747C-135.345 0.145322 -155.82 36.3866 -171.6 69.8039C-179.999 87.5915 -188.733 105.289 -196.477 123.379C-197.947 126.812 -200.151 131.231 -199.37 135.253C-198.978 137.273 -197.685 136.911 -196.574 135.639C-186.684 124.324 -180.249 108.091 -173.335 94.9989C-157.147 64.3435 -142.497 32.5517 -131.776 -0.471601C-123.577 -25.7286 -112.431 -55.6501 -111.237 -82.5241C-110.8 -92.3817 -111.546 -62.7182 -113.166 -52.9852C-122.626 3.84033 -144.48 57.7865 -156.364 114.112C-158.099 122.332 -159.882 130.571 -160.8 138.921C-162.177 151.446 -157.859 143.909 -155.4 138.921C-145.872 119.594 -138.873 98.3148 -131.583 78.1057C-112.348 24.7804 -99.0792 -33.1205 -94.2666 -89.6675C-94.0479 -92.2374 -93.9015 -99.9666 -93.7845 -97.3901C-93.2458 -85.5252 -93.2835 -73.733 -94.0738 -61.8662C-97.9367 -3.85807 -113.93 50.0038 -130.426 105.424C-135.57 122.707 -139.908 140.199 -143.636 157.841C-144.439 161.642 -148.245 174.277 -146.625 179.465C-146.181 180.89 -143.779 178.069 -143.058 176.762C-136.976 165.745 -133.713 152.834 -129.751 141.045C-112.925 90.9779 -96.4374 40.9591 -80.9599 -9.54564C-76.2015 -25.0729 -71.0942 -40.5349 -66.689 -56.1708C-66.4242 -57.1107 -64.3636 -70.4522 -63.507 -61.1904C-60.6157 -29.9305 -64.9621 1.73619 -70.9317 32.3494C-82.0042 89.1307 -97.7318 144.983 -112.78 200.798C-115.732 211.747 -122.652 245.012 -119.241 234.198C-104.567 187.681 -91.3664 141.111 -73.8245 95.4815C-49.5349 32.3001 -12.4044 -23.7547 25.4935 -79.435C29.2122 -84.8987 32.9202 -91.6973 36.9681 -97.1005C40.7464 -102.144 35.0123 -84.606 33.2075 -78.5663C17.3727 -25.5742 -6.65844 25.6463 -29.1796 75.982C-42.4392 105.618 -57.0723 134.797 -68.6175 165.178C-74.0294 179.419 -81.8414 197.767 -82.6956 213.444C-83.0422 219.805 -72.1804 205.556 -69.1961 199.93C-49.4992 162.792 -30.2799 125.282 -11.7266 87.5659C7.83133 47.8071 25.7557 7.36433 44.2 -32.9065C47.0467 -39.1219 49.6759 -46.1742 53.1675 -52.1164C57.6901 -59.8134 52.5255 -34.2509 51.5283 -25.3769C45.8192 25.4266 27.2941 74.4976 10.644 122.511C2.69682 145.427 -5.28429 168.284 -11.9195 191.628C-13.2969 196.474 -20.8169 215.389 -18.0907 221.939C-16.6829 225.321 -14.0188 215.812 -12.498 212.479C-6.1008 198.458 0.272534 184.463 6.97984 170.584C35.4868 111.595 62.2816 52.7393 84.6021 -8.86991C88.4749 -19.5596 97.0409 -52.0001 97.0409 -40.6291C97.0409 -16.0534 95.747 8.75426 91.159 32.9286C82.6811 77.5989 69.2945 122.063 55.5781 165.371C50.667 180.877 35.3596 227.153 41.5001 212.093C53.0825 183.684 64.2302 155.231 77.5631 127.53C100.98 78.879 125.353 29.386 152.389 -17.3648C153.103 -18.6 159.046 -32.1934 159.524 -22.481C160.202 -8.71601 159.253 5.88959 157.692 19.5106C151.783 71.0955 136.675 121.259 128.476 172.514C124.651 196.42 135.75 166.487 139.468 159.965C157.31 128.665 196.005 43.0059 193.852 127.627C193.425 144.388 191.228 160.73 187.873 177.148C186.742 182.688 174.576 215.605 179.774 221.167C180.297 221.726 214.895 179.928 217.572 177.148C228.89 165.396 241.227 151.085 255.371 142.589C265.803 136.323 265.354 150.956 264.724 157.069C262.043 183.108 256.664 210.55 249.103 235.646C248.496 237.663 246.138 243.515 247.079 241.631' stroke='%23CAFC92' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;

      @include mobile {
        top: auto;
        bottom: 0;
        width: 145px;
        height: 100px;
      }
    }

    @include mobile {
      padding-top: 68px;
      padding-bottom: 68px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 40px;
    line-height: 135%;
    text-transform: uppercase;
    color: #333;

    @include mobile {
      font-size: 20px;
      text-align: center;
    }
  }

  &__text {
    margin-bottom: 68px;
    max-width: 355px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #333;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  @include small-tablet {
    margin-bottom: 80px;
  }

  @include mobile {
    margin-bottom: 60px;
  }
}

.form-gross {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 250px));
  gap: 10px;

  &__label {
    position: relative;

    .just-validate-error-label {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(120%);

      @include small-tablet {
        position: static;
        transform: translate(0);
      }
    }
  }

  &__input {
    padding: 18px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: #333;

    &::placeholder {
      font-weight: 500;
      font-size: 16px;
      color: #333;
    }
  }

  &__btn {
    border-radius: 6px;
    padding: 18px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    background: #cafc92;
  }

  @include mobile {
    grid-template-columns: none;
    width: 100%;
  }
}
