.product {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 60% 285px;
  padding-bottom: 120px;

  &__images {
    display: flex;
    align-items: flex-start;
    gap: 32px;

    @include small-tablet {
      margin-bottom: 30px;
    }
  }

  &__main-slider {
    .swiper-wrapper {
      margin-bottom: 25px;
    }

    &-pagination {
      --swiper-pagination-bullet-inactive-color: #828282;
      --swiper-pagination-bullet-width: 6px;
      --swiper-pagination-bullet-height: 6px;
      --swiper-pagination-color: #333;

      display: none;

      @include small-tablet {
        bottom: 0 !important;
        display: block;
      }
    }

    @include small-tablet {
      margin: 0 auto;
      max-width: 350px;
    }

    @include mobile {
      max-width: 250px;
    }
  }

  &__additional-slider {
    height: 100%;
    max-width: 136px;
    max-height: 450px;

    .swiper-button-next {
      right: 50%;
      top: auto;
      bottom: 0;
      transform: translateX(50%) rotate(90deg);
    }

    .swiper-button-next::after {
      width: 6px;
      height: 12px;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L0.999999 1' stroke='%23828282' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__sku {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #828282;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000;
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    gap: 10px;
  }

  &__label {
    padding: 16px 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #828282;
    background-color: #f8f8f8;
  }

  &__autorize {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    color: #828282;

    a {
      text-decoration: underline;
      color: inherit;

      @include hover {
        color: #000;
      }
    }
  }

  &__price {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;

    &-current {
      margin-right: 16px;
      font-weight: 500;
      font-size: 22px;
      color: var(--color-black);
    }

    &-old {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      color: #bdbdbd;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 3px;
        background-image: url("data:image/svg+xml,%3Csvg width='65' height='4' viewBox='0 0 65 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3C4.97167 2.84598 9.06148 1.88251 13.1146 1.64037C25.4745 0.901966 37.9324 1.00489 50.3209 1.00489C54.8448 1.00489 59.6036 1.05248 64 1.93594' stroke='%23BDBDBD' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }
  }

  .product-card__color-list {
    margin-bottom: 32px;
  }

  &__size {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    color: #828282;

    span {
      color: #000;
    }
  }

  .product__size-wrapper {
    position: relative;
    margin-bottom: 14px;

    .swiper-button-next::after {
      width: 6px;
      height: 12px;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L0.999999 1' stroke='%23828282' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(100%);
    }

    .swiper-button-prev::after {
      width: 6px;
      height: 12px;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7L7 13' stroke='%23828282' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(-100%);
    }
  }

  .product-card__size-buttons {
    max-width: 80%;
  }

  &__size-info {
    display: block;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    color: #828282;

    @include hover {
      color: #000;
    }
  }

  &__info-accordion {
    margin-bottom: 60px;
  }

  .accordion {
    &__control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #828282;
      padding: 15px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: #828282;
    }

    &__icon-icon {
      fill: none;
      stroke: #828282;
    }

    &:not(:last-child) {
      margin-bottom: -1px;

      .accordion__control {
        border-top: 1px solid #828282;
      }
    }
  }

  &__cart-button {
    border-radius: 6px;
    padding: 18px 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #333;
    background: #cafc92;
  }

  @include small-tablet {
    display: block;
  }
}
