.product-card {
  position: relative;
  padding: 0 10px;

  &__size-buttons {
    .swiper-slide {
      width: 50px;
    }

    .swiper-button-disabled {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }

    .swiper-button-prev {
      left: 0;
      background-color: #fff;
    }

    .swiper-button-next {
      right: 0;
      background-color: #fff;
    }

    .swiper-button-next::after {
      width: 6px;
      height: 12px;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L0.999999 1' stroke='%23828282' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .swiper-button-prev::after {
      width: 6px;
      height: 12px;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7L7 13' stroke='%23828282' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__size {
    display: block;
    padding: 6px 0;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #828282;
    background-color: #d9d9d9;

    &-wrapper {
      margin-bottom: 22px;
    }
  }

  &__image {
    position: relative;
    margin-bottom: 6px;

    img {
      width: 100%;
    }
  }

  &__label {
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 6px 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    background-color: #f8f8f8;
  }

  &__favorite {
    position: absolute;
    right: 15px;
    top: 15px;

    &-icon {
      fill: none;
      stroke: #828282;
    }
  }

  &__price {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;

    &-current {
      margin-right: 16px;
      font-weight: 500;
      font-size: 22px;
      color: var(--color-black);
    }

    &-old {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      color: #bdbdbd;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 3px;
        background-image: url("data:image/svg+xml,%3Csvg width='65' height='4' viewBox='0 0 65 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3C4.97167 2.84598 9.06148 1.88251 13.1146 1.64037C25.4745 0.901966 37.9324 1.00489 50.3209 1.00489C54.8448 1.00489 59.6036 1.05248 64 1.93594' stroke='%23BDBDBD' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }
    }
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black);
  }

  &__color {
    &:not(:last-child) {
      margin-right: 12px;
    }

    &-list {
      display: flex;

      &-label {
        margin-right: 15px;
        font-weight: 500;
        font-size: 14px;
        color: #828282;
      }
    }
  }

  &__hidden-part {
    overflow: hidden;
    max-height: 0;
  }

  &__size-label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #828282;
  }

  &__size-value {
    color: var(--color-black);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    background-color: #d9d9d9;

    &:hover {
      background-color: var(--color-celery-mousse);
    }
  }
}

.product-card:hover .product-card__hidden-part {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding: 30px 15px 20px;
  max-height: none;
  background-color: #fff;
  filter: drop-shadow(0 2px 31px rgb(186 186 186 / 20%));
  transform: translateY(100%);
}

.product-card:hover {
  box-shadow: 0 2px 31px rgb(186 186 186 / 20%);
}
