// INFO: Общий файл для стилей UI-kit. Сюда можно заносить стили для разных технических классов.
// По типу заголовков, кнопок, и тд.

.button {
  display: block;
  border-radius: 6px;
  padding: 1.125em 4.6875em;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  transition: background-color var(--transition-default);

  &--main {
    color: var(--color-gray);
    background-color: var(--color-light);

    @include hover {
      background-color: var(--color-celery-mousse);
    }
  }

  &--second {
    color: var(--color-gray);
    background-color: var(--color-celery-mousse);
  }
}

.link {
  font-weight: 500;
  font-size: 16px;
  text-decoration-line: underline;
  color: #616161;
}
