// INFO: Общий файл для стилей UI-kit. Сюда можно заносить стили для разных технических классов.
// По типу заголовков, кнопок, и тд.

.title-text {
  margin: 0;
  font-family: var(--font-family-title);
  font-weight: 400;
}

.small-text {
  font-family: var(--font-family-text);
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-polite-white);
  border-radius: 50%;
  width: 176px;
  height: 176px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-off-black);
  background-color: var(--color-polite-white);
  transition: all var(--transition-default);
  cursor: pointer;

  &__text {
    display: block;
    font-weight: inherit;
    text-align: center;
    color: inherit;
    transform: translateY(10px);
  }

  &__arrow {
    display: block;
    fill: currentcolor;
    transform: translateY(50%);
  }

  &:active {
    background-color: #1f1f1f;
  }

  &--no-fill {
    width: 120px;
    height: 120px;
    color: #ffff;
    background-color: var(--color-off-black);
  }

  @include hover {
    border-color: var(--color-dire-wolf);
    color: var(--color-light);
    background-color: var(--color-dire-wolf);
    transform: rotate(-30deg);
  }
}

.main-link {
  position: relative;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--color-light);
  transition: color var(--transition-default);

  @include hover {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.1em;
      width: 100%;
      height: 1px;
      background-color: var(--color-polite-white);
      opacity: 0;
      transition: opacity var(--transition-default);
    }

    &:hover {
      color: var(--color-polite-white);

      &::before {
        opacity: 1;
      }
    }
  }
}

.link-underline {
  position: relative;
  transition: color var(--transition-default);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.3em;
    width: 100%;
    height: 0.5px;
    background-color: currentcolor;
    transition: background-color var(--transition-default);
  }

  @include hover {
    color: var(--color-polite-white);
  }
}
